	<% @page_title = application_name + " Search Results" %>

        <% extra_head_content << render_opensearch_response_metadata %>

  <% sidebar2_items << capture do %>
    <%= render :partial => 'catalog/search_form' %>
  	<%= render :partial => 'catalog/did_you_mean' %>
  <% end %>


  <%= render :partial => 'entity_info' %>
  
  <%#- Skipping constraints because render_constraints helper relies on catalog_index_path, which raises an error %>
	<%#= render 'catalog/constraints', :localized_params=>params %>
  
  <div class="pageEntriesInfo">
    <%= page_entries_info @response.docs, :entry_name=>'item' %>
    <%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
  </div>
  
	<%= render 'catalog/sort_and_per_page' %>
  
  <%= render 'catalog/results_pagination' %>
  

	<%= render_document_list_partial %>

	<% sidebar_items << capture do %>
	  <%= render :partial=>'topic_search/vocab_nav' %>
	  <%= render :partial=>'catalog/facets' %>
	<% end %>

  <%= render 'catalog/results_pagination' %>


	<%= render :partial=>'catalog/solr_request' %>

